__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.env
.env.elk.local
infra/logging/.env.elk
.torch_home/


test-stand-deploy
test-stand-deploy.pub
